a>p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    border-radius: 5px;
    background-color: lightgreen;
    height: 25px;
}


.goods-nav-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #008000;
    height: 10vh;
    overflow: hidden;
    color: white;
  }
 
  .goods-nav > a > span {
    padding: 1vw 2vw;
    font-weight: 600;
    font-size: calc(1vw + 1vh);
    color: white;
  }
  
  .goods-nav > a > span:hover {
    color: darkorange;
  }
  
  @media only screen and (max-width: 600px) {
    .goods-nav > a > span {
      font-size: 3vw;
      padding: 2vw 4vw;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .goods-nav > a > span {
      font-size: 2.5vw;
      padding: 1.5vw 3vw;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .goods-nav > a > span {
      font-size: 2vw;
      padding: 1vw 2vw;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .goods-nav > a > span {
      font-size: 1.5vw;
      padding: 0.5vw 1vw;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .goods-nav > a > span {
      font-size: 1vw;
      padding: 0.5vw 1vw;
    }
  }
.catalog{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
}
.good{
    min-height: 500px;
    max-width: 100%;
    margin: 10px;
    text-align: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 
}
.good-price{
    margin-bottom: 15px;
    font-size: 1.5vw;
}
.good-price::after{
    content: '\20BD';
}
.add-to-cart::after{
    content: '\1F6D2';
}
.add-to-cart{
    color: black; 
    text-decoration: none; 
    user-select: none; 
    padding: 2vw;
}
.add-to-cart:hover{
    color: #008000;
}
.good-container{
    display: grid;
    grid-template-columns: auto 1fr;
}
.add-cart{
    border: 1px solid black;
    max-width: 100px;
    padding: 5px;
}
.add-cart::after{
    content: '\1F6D2';
}
.goods-nav-header>div>span>a{
    color: white;
}
